@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@layer base {
  body {
    @apply font-[Oswald] !important;
  }
}

/* HomePage.css */

.shadow-md {
  box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.2),
    0 4px 8px -2px rgba(0, 0, 0, 0.12);
}

.door {
  transition: margin 1s ease-in-out;
}

.door2.right {
  margin-left: 74.5%;
}

.beach {
  position: absolute;
  top: 2%;
  height: 27vw;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.beach.open {
  opacity: 1;
  visibility: visible;
}

h1,
h2 {
  -webkit-text-stroke: 2px #ff7bac;
  
}

.explore-text {
  color: #ff7bac;
  -webkit-text-stroke: 0;
}

.video-button {
  background: linear-gradient(
    0deg,
    rgba(255, 171, 145, 1) 0%,
    rgba(255, 123, 172, 1) 100%
  );
  width: 200px;
  height: 40px;
}

.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7); 

}

.close-video {
  right: 10px;
  top: 10px;
}